[Bb]in/
build/
[Rr]elease/
[Dd]ebug/

CMakeFiles
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
src/config_headers
src/Makefile
Makefile

#Linux
*.o
*.so
*~
*.swp
__*/

#Visual Studio
*.sdf
*.opensdf
*.suo
*.psess
*.vsp
*.user

#Merge files
*.orig

#archives
*.rar
*.zip
*.tar.gz

#MacOS
.DS_Store
